<browser-panel>
  <timeline-catalog>
    <timeline-album id="BritHist" heading="British History">
      <album-tracks>
        <album-track id="monarchs" heading="Monarchs">
        </album-track>
        <album-track id="PrimeMinisters" heading="Prime Ministers">
        </album-track>
        <album-track id="Literacy" heading="Literacy levels">
        </album-track>
        <album-track id="GDP" heading="GDP">
        </album-track>
        <album-track id="Wars" heading="Warfare">
        </album-track>
        <album-track id="Technology" heading="Technology">
        </album-track>
      </album-tracks>
      <album-track>
      </album-track>
    </timeline-album>
    <timeline-album id="Frenchhist" heading="French History">
      <album-tracks>
        <album-track id="FRTechnology" heading="Technologies">
        </album-track>
      </album-tracks>

    </timeline-album>
    <timeline-album id="Germanhist" heading="German History">

    </timeline-album>
    
  </timeline-catalog>
</browser-panel>